# Aproveitando o Modelo Salvo

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from joblib import load

model = load('titanic.joblib')

In [2]:
train = pd.read_csv("train.csv")
train = train[["Pclass", "Sex", "Age", "Survived"]]

In [3]:
train.head()

   Pclass     Sex   Age  Survived
0       3    male  22.0         0
1       1  female  38.0         1
2       3  female  26.0         1
3       1  female  35.0         1
4       3    male  35.0         0

In [4]:
x_train, x_test, y_train, y_test = train_test_split(
    train.drop(['Survived'], axis=1),
    train['Survived'],
    test_size=0.2
)

In [9]:
model.score(x_train, y_train)

0.8146067415730337

In [10]:
model.score(x_test, y_test)

0.7877094972067039

In [13]:
model.predict(pd.DataFrame({"Pclass": 3, "Sex": "male", "Age": 2}, index=[0]))

array([1])

In [14]:
model.predict_proba(pd.DataFrame({"Pclass": 3, "Sex": "female", "Age": 31}, index=[0]))

array([[0.31858407, 0.68141593]])